
$alice-blue: #F3FBFF; //lightest, almost white
$jungle-mist: #B4CED9; //light
$horizon: #6B9BB5; //medium, brand color
$mirage: #1C292E; //dark, almost black

/* 1. Global styles
================================================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $mirage;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.img-container {
  overflow: hidden;
  
  img {
    height: auto;
    width: 100%;
    display: block;
  }
}

/* 2. Typography
================================================== */
.brand-name {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 1.3em;
}

h1,h2,h3 {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 0.08em;
}

h1 {
  font-size: 4em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: $horizon;
}

section > h2 {
  font-size: 3em;
}

/* 3. Structure
================================================== */
section {
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 5%;
  > * {
    margin: 2rem 4rem;
  }
  > h2 {
    text-align: center;
  }
}

header {
  background-color: rgb(107 155 181 / 10%);//Horizon with 10% opacity
  color: $alice-blue;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 6rem;
  align-items: center;
  padding: 10px 20px;
}

nav {
  width: 28rem;
  margin: 10px 0;
 > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 0.1rem;
  }
    a:hover {
    color: $jungle-mist;
  }
}

footer {
  background-color: $mirage;
  color: $alice-blue;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 3rem 0;
}

address {
  display: flex;
  flex-flow: column;
  margin: 30px 0;
}
.contact-link--icon {
  display: flex;
  justify-content: space-evenly;
  width: 10rem;
  margin: 0.4rem auto;
}

/* 4. Page styles
================================================== */
.banner {
  // background-image: linear-gradient(to left bottom, #6b9bb5, #79a4bc, #87aec2, #94b7c9, #a2c1d0, #adc9d6, #b9d1dc, #c4d9e2, #d0e1e9, #dceaf1, #e7f2f8, #f3fbff);
  background-image: linear-gradient(to right top, #1c292e, #293d44, #37515c, #466776, #557d90, #628b9f, #6f99ae, #7da8be, #8bb1c5, #98bbcb, #a6c4d2, #b4ced9);
  color: $alice-blue;
  text-align: center;
  margin-top: -6rem;
  height: 75vh;
}

.banner__title {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  margin: 4rem;
}

.banner__subtitle {
  font-family: 'Libre Baskerville', serif;
  font-size: 2rem;
  font-style: italic;
  padding: 0;
  text-transform: lowercase;
  margin: 4rem;
}

.brand-name__container {
  width: 30rem;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 -10px;
}

.brand-name__logo--small {
  width: 7rem;
}

.brand-name__item {
  padding: 10px;
}


/* Companies */
.companies {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 85%;
}

.companies__card {
    margin: 1.85rem 2.25rem;
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    padding: 2rem;
    justify-content: space-evenly;
    align-items: center;
    height: 14rem;
    min-width: 22rem;
    max-width: 40rem;
    background-color: #B4CED9;
    box-shadow: -3px 3px #6b9bb5;
    text-align: center;
    width: 32%;
  > .img-container {
    width: 90%;
    height: auto;
  }
}

/* Team */
.team-members {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 85%;
}

.team-member {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1.85rem;
  > * {
    margin: 15px 0;
  }

  span {
    font-weight: bold;
    font-size: 1.15em;
  }

}

.team-member__img-container {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}